<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charge It to the Max</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
</head>
<body>
    <header>
        <h1>Charge It to the Max</h1>
    </header>

    <div class="dashboard">
        <div class="dashboard-header">
            <h2 class="dashboard-title">Live Feed Data</h2>
        </div>
        <div class="dashboard-content">
            <div id="chart-container">
                <canvas id="liveChart"></canvas>
            </div>

            <div class="info-container">
                <div class="info-box" id="latest-buy-price">
                    <div class="info-title">Buy Price</div>
                    <div class="info-value">-</div>
                </div>
                <div class="info-box" id="latest-sell-price">
                    <div class="info-title">Sell Price</div>
                    <div class="info-value">-</div>
                </div>
                <div class="info-box" id="current-demand">
                    <div class="info-title">Demand</div>
                    <div class="info-value">-</div>
                </div>
                <div class="info-box" id="current-day">
                    <div class="info-title">Day</div>
                    <div class="info-value">-</div>
                </div>
                <div class="info-box" id="current-sun">
                    <div class="info-title">Sunshine Intensity</div>
                    <div class="info-value">-</div>
                </div>
                <div class="info-box" id="trading-decision">
                    <div class="info-title">Trading Decision</div>
                    <div class="info-value">-</div>
                </div>
            </div>
        </div>
    </div>

    <div class="dashboard1">
        <h2 class="dashboard-title">Energy Data</h2>
    </div>

    <div class="dashboard1">
        <h2 class="dashboard-title">Overall Data Trend</h2>
        <canvas id="priceChart"></canvas>
    </div>

<script>
    var ctx = document.getElementById('liveChart').getContext('2d');
    var liveChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: Array.from({length: 60}, (_, i) => i),  // Generate labels from 0 to 59
            datasets: [
                {
                    label: 'Buy Price',
                    data: [],
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    fill: false
                },
                {
                    label: 'Sell Price',
                    data: [],
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 2,
                    fill: false
                }
            ]
        },
        options: {
            scales: {
                x: {
                    beginAtZero: true
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    function updateInfoBox(id, newValue) {
        var element = document.getElementById(id).querySelector('.info-value');
        if (element.textContent !== newValue) {
            element.textContent = newValue;
            element.classList.add('updated');
            setTimeout(() => {
                element.classList.remove('updated');
            }, 500);
        }
    }

    // Function to fetch data and update chart
    function fetchDataAndUpdateChart() {
    fetch('/data')
        .then(response => response.json())
        .then(data => {
            // Filter out duplicate ticks
            var uniqueTicks = data.ticks.filter((tick, index, self) => self.indexOf(tick) === index);

            // Update the chart's labels and data with the unique ticks and corresponding buy and sell prices
            //liveChart.data.labels = uniqueTicks;
            liveChart.data.labels = data.ticks;
            liveChart.data.datasets[0].data = data.buy_prices;
            liveChart.data.datasets[1].data = data.sell_prices;
            liveChart.update();

            // Update the latest prices and other information
            updateInfoBox('latest-buy-price', data.buy_prices[data.buy_prices.length - 1] || '-');
            updateInfoBox('latest-sell-price', data.sell_prices[data.sell_prices.length - 1]);
            updateInfoBox('current-demand', data.current_demand);
            updateInfoBox('current-day', data.current_day);
            updateInfoBox('current-sun', data.current_sun);
        });
}

    function fetchDecision(){
        fetch('/decision')
            .then(response => response.json())
            .then(data => {
                updateInfoBox('trading-decision', data.decision || '-');
            });
    }

    // Fetch data and update chart every second
    setInterval(fetchDataAndUpdateChart, 4500);

    // Fetch trading decision every 4.7 seconds
    setInterval(fetchDecision, 4700)
</script>

    <script>
        var ctx = document.getElementById('priceChart').getContext('2d');
        var priceChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [
                    {
                        label: 'Cumulative Average Buy Price',
                        data: [],
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 2,
                        fill: false
                    },
                    {
                        label: 'Cumulative Average Sell Price',
                        data: [],
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 2,
                        fill: false
                    },
                    {
                        label: 'Cumulative Average Demand',
                        data: [],
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 2,
                        fill: false
                    },
                    {
                        label: 'Average Buy Price per Tick',
                        data: [],
                        borderColor: 'rgba(153, 102, 255, 1)',
                        borderWidth: 2,
                        fill: false
                    }
                    
                ]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Tick'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Price'
                        }
                    }
                },
                plugins: {
                    zoom: {
                        pan: {
                            enabled: true,
                            mode: 'x',
                            onPanComplete({chart}) {
                                // Fetch new data when panning is complete
                                updateChart();
                            }
                        },
                        zoom: {
                            enabled: false  // Disable zooming
                        }
                    }
                }
            }
        });

        function updateChart() {
            fetch('/alldata')
                .then(response => response.json())
                .then(data => {
                    priceChart.data.labels = data.ticks;
                    priceChart.data.datasets[0].data = data.buy_prices;
                    priceChart.data.datasets[1].data = data.sell_prices;
                    priceChart.update();

                    updateInfoBox('latest-buy-price', data.buy_prices[data.buy_prices.length - 1] || '-');
                    updateInfoBox('latest-sell-price', data.sell_prices[data.sell_prices.length - 1] || '-');
                    updateInfoBox('current-demand', data.current_demand || '-');
                    updateInfoBox('current-day', data.current_day || '-');
                    updateInfoBox('current-sun', data.current_sun || '-');
                });
        }

        setInterval(updateChart, 3500);
    </script>
</body>
</html>
